<!DOCTYPE html>
<html>


<head>

<title>Exercise {{ uname }}</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <!-- Bootstrap CSS -->
    <link href="http://siacua.web.ua.pt/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="http://siacua.web.ua.pt/css/siacua_3.css" rel="stylesheet" type="text/css" />

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400" rel="stylesheet" type="text/css" /><link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />


    
    
    
{# See megbook.print_instance() #}


{{mathjax_header}}

<style>
h3   {background-color:lightgrey;}
</style>

<body>

<h1>
SIACUA preview for {{uname}}
</h1>


{{allexercises}}

<script type="text/javascript">
MathJax.Hub.Configured()
</script>

</body>
</html>

