<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>
{{exname}}
</title>

        <script type = "text/javascript" >
            function disableBackButton() {
                window.history.forward();
            }
            setTimeout("disableBackButton()", 0);
        </script>

    		<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX","output/HTML-CSS"],
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]},
    showMathMenu: true, 
    showMathMenuMSIE: false,
    menuSettings: {
    zoom: "No Zoom",
    mpContext: true,
    mpMouse: true
},
  });
		</script>
		<script type="text/javascript" src="http://siacua.web.ua.pt/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
		<!-- config=TeX-AMS-MML_HTMLorMML -->

    <style type="text/css">
        .auto-style1 {
            font-size: x-small;
        }
        .auto-style2 {
            text-align: right;
        }
        .auto-style3 {
            color: #009933;
        }
    </style>

</head>

<body>

<h1>
{{exname}}
</h1>


{{allexercises}}

<script type="text/javascript">
MathJax.Hub.Configured()
</script>

</body>
</html>

